.main-header {
  background-color: #EDD2E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  margin-left: 20px;
}

.cart-div {
  padding-left: 20px;
  padding-right: 30px;
}

.cart-button {
  margin-top: 7px;
  padding: 0px;
  border: none;
  font-size: 50px;
  background-color: #EDD2E0;
}

.productCollection-div {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
}

.product {
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

h4 {
  overflow-wrap: break-word;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-product {
  display: inline-flex;
  text-align: center;
  margin: 5px;
  /* border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 6px .1px; */
}

.main-product:hover {
  transform: scale(1.0);
  transition: all 0.2s ease-in-out;
  background-color: white;
}

img {
  display: inline-grid;
  height: 130px;
  width: 120px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

span{
  display: block;
}

.Product-Link{
  /* padding: 20px;
  padding-left: 5px;
  padding-right: 5px; */
  display: inline-flex;
  text-align: center;
  margin: 5px;

  display: inline-block;
  position: fixed;
  width: 300px;
  height: 75%;
  color: #000;
}

.product-page-img {
  display: inline;
  height: 450px;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
}

.product-page-h1 {
  display: inline-flex;
}

.product-page-p {
  font-size: x-large;
  margin-left: 50px;
}

.product-page-button {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
}
